* {
box-sizing: border-box;
}


#address {
/*
    width: 500px;
    height: 400px;
*/
    position: relative;
    float: left;
    padding: -10px;
}

  #map-canvas {
    width: 500px;
    height: 400px;
    background-color: #CCC;
  }

.gradi {
    background-image: linear-gradient(#F63D12, transparent 100%);
}

#page-contact #address {
    margin-top: 100px;
/*    margin-top: 10;*/
    margin-left: 10%;
}

#page-contact {
    background-color: #F63D12;
    height: 50em;
}

#bg-image {
/*
    margin-top: 15px;
    margin-bottom: 15px;
*/
    background-image: url(img/photo.jpeg);
    height: 100vh;
    background-size: cover;
}

p {
    font-weight: 200;
    letter-spacing: 0px;
    line-height: 18px;
    font-family: 'Tinos', serif;
}

h1 {
    font-weight: 100;
    font-size: 70px;
    font-family: 'Abril Fatface', cursive;
}

h1:hover {
    text-decoration: none;
}

.orange {
    color: black;
}


/*nav bar and tagline*/

.navbar {
    position: absolute;
    z-index: 10000;
    background-color: transparent;
    border: none;
    right: 0;
    padding-right: 2em;
    padding-top: 2em;
}

.navbar .navbar-nav li a {
    color: black;
    border-bottom: solid 1px orangered;
}

.navbar .navbar-nav li a:hover {
    color: darkred;    
}

#tagline {
    position: absolute; 
    width: 100vw;
    padding: 7em;
    z-index: 100;
    text-decoration: none;
}


/*
#blur {
    -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
*/

#work #myCarousel {
    height: 100vh;
    overflow: hidden;
}

#work #myCarousel img {
    width: 100vw;
}

#work #project {
    padding-right: 15px;
}

#work .bg-orange {
    background-color: darkorange;
/*4
    padding: 0px 30px 30px 30px;
    text-align: center;
    box-sizing: border-box;
*/
}

#work .bg-ivory {
    background-color: royalblue;   
}
    
#work .bg-brown {
        background-color: slategrey;
}

#con-address {
    position: absolute;
    float: right;
    width: 100vw;
    padding: 7em;
    z-index: 100;
    text-decoration: none;
}

#contact {
    position: relative;
}

#page-contact #address{
    margin-top: 100px;
/*    margin-top: 10%;*/
    margin-left: 10%;
}
